/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.songs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.song {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.title {
    font-weight: bold;
}

.artist {
    color: #666;
}

.link-no-color {
    color: inherit; /* Inherits color from parent element */
    text-decoration: none;
}

.link-no-color:hover {
    text-decoration: underline;
}
/* .song {
    margin-bottom: 20px;
    overflow: hidden; /* Add this line 
} */
body {
    margin: 0;
    padding: 0;
}

.song {
    margin-bottom: 20px;
}

.song audio {
    width: 100%;
    max-width: 200px; /* Adjust the maximum width as needed */
    display: block;
    margin-top: 5px;
}


