<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPOTIFY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Top Songs Today</h1>
        <div class="songs-container">
            {% for record_id, songs in records.items() %}
                {% for song in songs %}
                    <div class="song">
                        <a href="/song/{{ record_id }}/{{ loop.index0 }}" class="title link-no-color">{{ song[0] }}</a>
                        <div class="artist">{{ song[1] }}</div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</body>
</html>