<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>You are listening to</h1>
        <div class="song-info">
            <h2>{{ song_name }}</h2>
            <p>Artist: {{ artist_name }}</p>
            <!-- Remove spaces from track number -->
            <p>Track Num: {{ song_tracknum|replace(' ', '') }}</p>
            <!-- Display audio file path -->
            <p>Audio File Path: static/audio/{{ song_tracknum|replace(' ', '') }}.mp3</p>
            <!-- Audio playback -->
            <audio controls>
                <source src="{{ url_for('serve_audio', filename=song_tracknum|replace(' ', '') + '.mp3') }}" type="audio/mpeg">
            </audio>
        </div>

        <h2>Recommendations</h2>
        <div class="songs-container">
            {% for record in selected_records %}
                <div class="song">
                    {{ record.split(',')[0].strip("[]'") }} by {{ record.split(',')[1].strip("[]' ") }}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
